@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  
    --primary: #4628ff;
    --warning: #ff288c;
    --white: #ffffff;
    --black: #000000;
  
  }

.btn--padding {

    display: inline-block;
    padding: 1em;
  
  }

  
.btn {
  
    font-family: 'Roboto', Calibri;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 1em 2em;
  }
  
.btn:hover {
  
    transform: translateY(-3px);
  }
  
  
.btn--primary--solid {
  
    background-color: var(--black);
    color: var(--white);
    border: none;
  }
  
.btn--warning--solid {
  
    background-color: var(--warning);
    color: var(--white);
    border: none;
  }
  
.btn--primary--outline {
  
  
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--black);
  
  }
  
.btn--warning--outline {
  
  
    background-color: transparent;
    border: 2px solid var(--warning);
    color: var(--white);
  
  }
  
.btn--medium {
  
    padding: 0.5em 3em;
    font-size: 18px;
  }
  
.btn--large {
  
    padding: 15px 30px;
    font-size: 20px;
  }
  