@import "./colors.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --kk-orange: #f06449;
    --kk-green: #7bbaa5;
    --kk-blue: #c0d8e0;
    --kk-purple: #6969b3;
    --kk-black: #4e4e4e;
    --kk-neutral: #4e4e4e;
    --kk-white: #ffffff;
  }

.btn--padding {

    display: inline-block;
    padding: 1em;
  
  }
  
.btn {
  
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s;
    
  }
  
.btn:hover {
  
    box-shadow: 
    
    3px 3px var(--kk-white),
    5px 5px var(--kk-neutral);
  }

.btn--primary--solid {
  
    background-color: var(--kk-neutral);
    color: var(--kk-white);
    border: none;
  }
  
.btn--warning--solid {
  
    background-color: var(--warning);
    color: var(--white);
    border: none;
  }
  
.btn--primary--outline {
  
  
    background-color: transparent;
    border: 2px solid var(--kk-neutral);
    color: var(--white);
  
  }
  
.btn--warning--outline {
  
  
    background-color: transparent;
    border: 2px solid var(--warning);
    color: var(--white);
  
  }
  
.btn--small {
  
    padding: 10px 50px;
    font-size: 18px;
  }
  
.btn--medium {
  
    padding: 15px 80px;
    font-size: 18px;
  }