.u-sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.bg--orange {
  background-color: var(--kk-orange);
  color: var(--kk-white);
}

.bg--green {
  background-color: var(--kk-green);
  color: var(--kk-black);
}

.bg--blue {
  background-color: var(--kk-blue);
  color: var(--kk-black);
}

.bg--purple {
  background-color: var(--kk-purple);
  color: var(--kk-black);
}

.bg--black {
  background-color: var(--kk-black);
  color: var(--kk-white);
}

.bg--neutral {
  background-color: var(--kk-neutral);
  color: var(--kk-black);
}
